.App {
  text-align: center;
}

body {
  background: whitesmoke;
}

.login {
  min-height: 40vh;
  width: 30%;
  display: grid;
  margin: 20% 35%;
  margin-top: 3%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 50px;
}

.participant-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.add-participant {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 50px;
}